{% extends  'base.html'%}

{% block bodyblock %}

<div class="container">
    <br><br>
    <h3 class="display-7">
        Welcome to End to End Face Recognition Web App Project
    </h3>
    <br>
    <p>
        Facial recognition is more than 50 years old. A research team led by Woodrow W Bledsoe ran
         experiments between 1964 and 1966 to see whether 'programming computers' could recognize human faces.
          The team used a rudimentary scanner to map the person's hairline, eyes, and nose.
           The task of the computer was to find matches.
    </p>
    <img src="\static\images\face_header_sd.jpg" class="image-fluid" width="=1050" alt="">
    <br><br>
    <p>
        Importance of Facial Recognition Solution In Modern Times
        In the current scenario, when identity theft is widespread, face recognition technology can play a significant role in preventing identity fraud.
        According to a report of 2019, 3.2 million fraud cases were reported to the FTC (Federal Trade Commission), out of which, 20.33% of cases were identity-related.
        Modern AI-enabled facial recognition technology offers a high level of accuracy and can match even the unique characteristics of a human face. Businesses and organizations of different types can leverage this technology to minimize the risk of identity theft to a great extent.
    </p>
    <img src="\static\images\face-recognition1.png" class="image-fluid" width="=650" height="500" alt="">
    <br><br>
    <p>
        When combined with technologies like machine learning and artificial intelligence,
         biometric facial recognition can give five times better results than human efforts.
          At iDenfy, we offer facial recognition solutions powered by AI.
           No matter, whether you need to verify the identity of your users/clients/customers physically or
            from a digital image or a video frame, our facial recognition will give you desired results.
    </p>
    <br><br>
    <img src="\static\images\Future-Developments-of-AI.jpg" class="image-fluid" width="=1050" alt="">
    <br><br>
    <p>
        
WHERE IS FACIAL RECOGNITION USED?
<br>
Face detection systems can be split into three primary categories; Face Detection, Face Recognition and Face Grouping. These systems have use cases across a wide variety of industries. Here is our selection of the top five applications of facial recognition:
<br>
PERSONALIZED ADVERTISING CAMPAIGNS
<br>
Using meta information such as gender, age or emotions, the attributes detection aspect of facial recognition can be used to tailor and personalize advertisements to the viewer. Rather than mass market blanket advertising, facial recognition offers scalable cloud based on-demand personalization for advertisers using billboards or digital displays to show specific adverts to people based on certain characteristics. This level of personalization helps to improve the efficiency and cost effectiveness of advertising by ensuring that the adverts are not wasted on irrelevant people who do not fit the advertiser’s target audience.
<br>
TIME ATTENDANCE AND USER AUTHENTICATION
<br>
Many people will have experienced using their phone, tablet or computer camera to register their face. Often used for the purpose of unlocking a device for the specific user, this type of facial recognition has widespread uses for time and attendance systems that help to accurately record and measure work patterns and shifts from employees. By using this innovative software, companies are able to eliminate buddy punching and can speed up the clocking in and out process as the facial recognition allows for passive recognition, rather than requiring the staff to actively log their attendance.
<br>
SOCIAL MEDIA PROFILE MODERATION AND VERIFICATION
<br>
Online security and content moderation is a key concern for contemporary social media platforms. Profile verification is one of the ways being explored to reduce trolling, spamming and fraudulent activity online. Historically, profile verification was a tedious manual process that was highly susceptible to human error. Using facial detection and other associated deep learning systems, profile verification has become a quick yet robust process that helps to eliminate fakes and forgeries.
<br>
Just like social media applications, other apps may choose to integrate facial recognition technology as a wall of security or part of the application itself. With more app design and development agencies, such as Ronins, improving year on year with the level of app software made available to the consumer market, it is exciting to see how it all continues to evolve overtime!
<br>
LAW ENFORCEMENT
<br>
Mugshots have long been part of the police’s arsenal for identifying and tracking down suspects or convicts. Once an arrested individual has their photograph taken, this will be added to the police facial recognition database, to be scanned whenever the police carry out another criminal search. Often used in conjunction with crime scene footage recovered from closed circuit television, the ability for advanced person detection systems to identify a face from multiple angles and across a wide variety of lighting conditions has proved invaluable to police forces across the world when searching for a suspect from grainy or dark footage.
<br>
REDUCING ONLINE BANKING FRAUD
<br>
Security is paramount for online banking, especially when involving transferring funds or approving purchases. By integrating biometric identification into online banking, bank providers can use biometrics to remove the risk of passwords being compromised or one-time passwords being intercepted. Even if the hackers are able to get hold of a photo database, the liveness detection built into most facial recognition systems will prevent any fake representations of a person being used to fraudulently access a bank account.
<br>
Whilst facial recognition is often used in association with other forms of biometric authentication such as voice recognition, fingerprint recognition or iris recognition, it is often the most passive system involving the least effort from the individual. This enables great scalability, especially for large, fast moving crowds. In most situations, the only hardware required is a camera unlike other systems such as fingerprint identification which require specialist fingerprint scanners.
<br>
Overall, facial recognition systems offer very compelling security and personalisation solutions. Whilst there are persistent concerns surrounding nefarious uses of these systems, the convenience and accuracy of facial recognition means the adoption of the biometric technology will remain widespread across a range of industries and applications.
    </p>
    <img src="\static\images\Blue-White-Futuristic-Simple-Photo-Artificial-Intelligence-YouTube-Thumbnail.png" class="image-fluid" width="=1050" alt="">
    <br><br>
</div>

{% endblock %}
